.community_board_body_container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-top: 3px solid #c4e9ce;
  min-height: 100vh;
}

.body_blank_left, .body_blank_right {
  width: calc(100%);
  background-color: #c4e9ce3f;
  padding: 20px;
  height: auto;
}

.community_board_body_center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5000px;
  background-color: #ffffff;
  padding: 20px;
  height: 100%;

}


