@media (max-width: 421px) {
    .header_main {
        flex-direction: column;
        align-items: center;
    }

    .header_main_circle {
        margin-bottom: 10px;
    }
}

.header_main {
    display: flex;
    justify-content: space-around;
    max-width: 800px; /* 예시로 최대 너비를 800px로 설정 */
    margin: 0 auto; /* 가운데 정렬을 위한 설정 */
}

.header_main_circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #C4E9CE ;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header_user_container {
    text-align: right;
    padding:20px;
}

.header_user_menu {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 100px;
    color: black;
    margin-bottom: 12px;
    text-decoration: none;
    border:none;
    font-size:16px;
    background-color: transparent;
}

.header_user_menu:hover {
    font-weight: bold;
    cursor: pointer;
}

.greeting_message {
    font-size:17px;
}
