.header_main {
    display: flex;
    width: 100%;
    background-color: white;
    height: 100px;
    border-bottom: 2px solid #C4E9CE; /* 얇은 테두리 */
    box-shadow: 0 0 10px #A0EBB5; /* 흐린 그림자 */
    position: sticky;
    top:0;
    z-index: 1000;
}

.header_left {
    display: flex;
    justify-content: left;
    width:400px;
    padding:20px;
}
.header_nav {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: auto;
}

.header_nav_circle {
    display: flex;
    width: 65px;
    height: 65px;
    /*background : linear-gradient(315deg, #A0EBB5 , #C4E9CE, #C4E9CE);*/
    background-color: #dbdbdb;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.header_nav_circle:hover {
    background-color: #C4E9CE;
}

.header_nav_circle.active {
    background-color: #C4E9CE; /* 원하는 배경색 */
}

.header_user_container {
    display: flex;
    justify-content: right;
    width:400px;
    padding : 20px;
    /*padding-right:30px;*/
    /*padding-top:20px;*/
}

.header_user_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:18px;
    width: auto;
    height: auto;
    padding:7px;
    text-align: center;
    color: gray;
    text-decoration: none;
    border:none;
    background-color: transparent;

}

.header_user_menu:hover {
    font-weight: bold;
    cursor: pointer;
}


.header_icon {
    width: 30px;
    height: 30px;
    padding:7px;
}


.header_user_info {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:15px;
    .header_user_name {
        font-size:20px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: gray;
        text-decoration: none;
        border:none;
        background-color: transparent;
        margin-left:10px;

    }
    .header_user_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
    }
}

