@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap');

.document {
  display: flex;
  background: linear-gradient(to bottom, #A0EBB5, #C4E9CE);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* 폰트 지정 */
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main_font {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.main_body_container {
  width: 1300px;
  display: flex;
  justify-content: center;
  /*border-top: 3px solid #c4e9ce;*/
  min-height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19),
  0 -2px 4px 0 rgba(0,0,0,0);

}
  .body_left, .body_right {
    width: 500px;
    background-color: #ffffff ;
    padding: 20px;
    height: auto;
    color: #000000;
  }

  .body_left_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 6px 4px -4px #A0EBB5;
    /*border-bottom: solid 2px #A0EBB5;*/

    .recipe_title_group {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 230px;
      height: 50px;
      border: solid 2px #A0EBB5;
      border-radius: 10px;

      .body_left_top_button {
        width : 170px;
        border : none;
        color:black;
        font-size : 18px;
      }

      .body_left_top_button:hover {
        cursor: pointer;
        font-weight: bold;
      }
      .recipe_title_icon {
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }
    }

  }

  .body_left_top > * {
    margin-bottom: 20px; /* 각 요소 사이에 20px 간격을 줍니다. */
  }




  .main_body_center {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
  }

  .body_center_top{
    display: flex;
    justify-content: center;
    min-width:500px;
    background-color: transparent;
    height: 340px;
    color: #ffffff;
  }

  .body_center_bottom{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

.recipe_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  border: solid 3px #A0EBB5;
  border-radius: 20px;
  background-color: #c4e9ce3f;
}
  .recipe_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .recipe_title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    /*background-color: white;*/
    /*padding: 15px;*/
    /*border: solid 2px #C4E9CE;*/
    /*border-radius: 15px;*/
  }

  .recipe_category, .recipe_author {
    font-size: 17px;
    color: black;
    width: 600px;
    text-align: left;
    margin-bottom: 20px;
  }

  .ingredient_group {
    width: 550px;
    height: 120px;
    padding: 5px 15px;

    border-radius: 25px;
    background-color: #c4e9ce00;
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000;
    border: 2px solid #A0EBB5;
  }

  .ingredient_title {
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }


  .ingredient_title_text {

    font-size: 17px;
  }

  .ingredient_info_group {
    display: flex;
    width: 100%;

    .ingredient_info {
      width: 100%;
    }

    .ingredient_info > * {
      margin-bottom: 10px; /* 각 요소 사이에 20px 간격을 줍니다. */
    }

    .ingredient_info_detail {
      display: flex;
      margin-right: 10px;
    }

    .ingredient_info_detail_title {
      margin-left: 10px;
      width: 100px;
    }
  }

.ingredient_standard_input_group {
  display: flex;
  margin-top: 10px;
  font-size:15px;
  .ingredient_standard_input {
    width: 50px;
    background-color: transparent;
    border: none;
    text-align: center;
  }
  .ingredient_unit {

  }

}

  /* 미디어 쿼리를 사용하여 화면 크기에 따른 스타일 변경 */
  @media (max-width: 421px) {

    .body-container {
      margin-bottom: 10px;
    }

    .content {
      margin-bottom: 10px;
    }
    .ellipse-container{
      margin-bottom: 10px;
    }
    .ellipse {
      margin-bottom: 10px;
    }
  }




  /* 오른쪽 스티키 배너 스타일 */
  .total_nutri_stickey {
    position: sticky;
    width:230px;
    margin-top : 30px;
    top: 100px;
    background-color: #c4e9ce3f;
    border : solid 3px #A0EBB5;
    border-radius:15px;
    padding: 10px;
    z-index: 1000;
  }
  .total_nutri_stickey > * {
    margin-bottom: 10px;
  }

  .total_nutri_text_box {
    display: flex;
    margin-right : 10px;
    margin-left : 20px;
  }

  .total_nutri_text_title {
    width : 100px;
    margin-right : 20px;
  }
  .total_nutri_text_value {
    width : 100px;
  }
  .total_text {
    text-align: center;
    margin-bottom: 20px;
  }
  .slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  