.community_board_body_container {
  width: 1300px;
  display: flex;
  justify-content: center;
  background-color: white;
  min-height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19),
  0 -2px 4px 0 rgba(0,0,0,0);


  .community_board_body_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
  }
  .community_board_body_left, .community_board_body_right {
    width: 500px;
    background-color: #ffffff ;
    padding: 20px;
    height: auto;
    color: #000000;
  }

}

.community_board_title {
  width: 400px;
  padding:7px;
  text-align: center;
  color: black;
  margin-bottom: 12px;
  text-decoration: none;
  border:solid 1px gray;
  font-size:16px;
  background-color: transparent;
}

.community_board_title_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.community_board_title:hover {
  font-weight: bold;
  cursor: pointer;
}

.recipe_write_form {
  border : 1px solid black;
}